@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
.table-container{
        border-radius: 20px !important;
        background-color: rgba(255, 255, 255, 0.595) !important;
        margin-top: 25px;
}
.bold-cell{
        font-weight: bold !important;
        font-family: 'PT Serif', serif !important;
}